.interface{
    position: absolute;
    height: 750px;
    width: 750px;
    /* border: solid 2px; */
}
.container{
    /* border: solid 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.top{
    position: absolute;
    top: 0;
    height: 50%;
    width: 50%;
}
.bottom{
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 50%;
}
.right{
    right: 0;
}
.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.green{
    background-color: #32CD32;
}
.red{
    background-color: #FF0000;
}
.blue{
    background-color: #0892D0;
}
.yellow{
    background-color: #FFFF00;
}
.base{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
    width: 225px;
    background-color: #343434;
}
.display{
    height: 400px;
    width: 400px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
